@using QHomeGroup.Utilities.Helpers
@model QHomeGroup.Application.Content.Blogs.Dtos.BlogDto
@{
    ViewData["Title"] = Model.Name;
    ViewData["Image"] = Model.Thumbnail;
    ViewData["Description"] = Model.Description;
}
<div id="breacrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="/tin-tuc.html">Tin tức</a>
            </li>
            <li class="active">@Model.Name</li>
        </ol>
    </div>
</div>
<div id="carousel-id" class="carousel slide mg-top-40" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
        <li data-target="#carousel-id" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        @if (Model.SlideImages.Count > 0)
        {
            @for (var i = 0; i < Model.SlideImages.Count; i++)
            {

                if (i == 0)
                {
                    <div class="item active">
                        <div  style=""></div>
                        <img alt="First slide" style="width: 1920px; height: 650px;" src="@Model.SlideImages[i]">

                    </div>
                }
                else
                {
                    <div class="item">
                        <div  style=""></div>
                        <img alt="First slide" style="width: 1920px; height: 650px;" src="@Model.SlideImages[i]">
                    </div>
                }
            }
        }
        @if (Model.SlideVideos.Count > 0)
        {
            @for (var i = 0; i < Model.SlideVideos.Count; i++)
            {

                if (i == 0)
                {
                    <div class="item active">
                        <div class="js-player" style="width: 100%; height: 550px" data-plyr-provider="youtube" data-plyr-embed-id="@ClipboardFusionHelper.GetEmbededId(@Model.SlideVideos[i])"></div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="js-player" style="width: 100%; height: 550px" data-plyr-provider="youtube" data-plyr-embed-id="@ClipboardFusionHelper.GetEmbededId(@Model.SlideVideos[i])"></div>
                    </div>
                }

            }
        }
    </div>
    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="icon-left-control icon-controls"></span></a>
    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="icon-right-control icon-controls"></span></a>
</div>
<!-- END -->
<div id="project-page-detail" class="wow fadeInUp" data-wow-duration="1s">
    @foreach (var item in Model.Block)
    {
        if (item.BlockType == BlockType.Text)
        {
            <div class="container">
                <div class="sv-intro mg-top-50">
                    @Html.Raw(item.Text)
                </div>
            </div>
        }
        else if (item.BlockType == BlockType.Image)
        {
            <div class="img-service mg-top-50">
                <img src="@item.Image" class="img-responsive" alt="" style="width: 1920px;height: 655px;">
            </div>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="service-item mg-top-50 @(item.ImagePosition == ImagePosition.Right ? "service-right-img" : "")">
                            <div class="sv-image">
                                <div class="wrap-img">
                                    <div class="main-img">
                                        <img src="@item.Image" class="img-responsive" alt="" style="width: 570px;height: 400px;">
                                    </div>
                                </div>
                            </div>
                            <div class="sv-text">
                                <div class="wrap-content">
                                    <h3 class="title-head">
                                        @item.Title
                                    </h3>
                                    <div class="sv-content">
                                        @Html.Raw(item.Text)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
</div>
<!-- END -->
<div id="blog" class="wow fadeInUp" data-wow-duration="1s">
    <div class="container">
        <div class="blog-content">
            <h3 class="blog-heading">
                Có thể bạn quan tâm
            </h3>
            <ul class="list-blog">
                @foreach (var item in Model.BlogInterest.Take(6))
                {
                    <li>
                        <a href="@item.LinkDetail" title=""><i class="icon-right-open"></i>@item.Name</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>
<!-- END -->
<!-- END -->
@section Scripts
{
    <script>
        const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p, {
            controls: ['play-large', 'play', 'progress', 'current-time']
        }));
    </script>
}
