@using QHomeGroup.Utilities.Dtos
@using QHomeGroup.Application.Content.Blogs.Dtos
@inject IViewLocalizer Localizer

@model PagedResult<BlogDto>
@{
    ViewData["Title"] = "Index";
}

<div id="news-page" class="wow fadeInUp" data-wow-duration="1s">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="np-content-left">
                    @foreach (var item in Model.Results)
                    {
                        <div class="os-post-item">
                            <div class="os-post-image">
                                <div class="entry-thumbnail">
                                    <a href="@item.LinkDetail" class="entry-thumbnail_overlay">
                                        @*<img class="img-responsive" src="images/news1.png">*@
                                        <img class="img-responsive" style="height: 270px;" src="@item.Thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="os-post-content">
                                <div class="op-top">
                                    <ul class="nav-date">
                                        <li>@item.DateCreated.ToString("dd MMMM yyyy")</li>
                                        <li><i class="icon-user"></i>by admin</li>
                                    </ul>
                                </div>
                                <a class="os-post-title" href="@item.LinkDetail" rel="bookmark">@item.Name</a>

                                <div class="sapo-news">
                                    <p class="">
                                        @item.Description
                                    </p>
                                </div>
                                <a class="more" href="@item.LinkDetail">read more</a>
                            </div>
                        </div>
                    }
                    @(await Component.InvokeAsync("Pager", Model))

                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="np-content-right">
                    <div class="video-top">
                        <div id="player" data-plyr-provider="youtube" style="height: 215px" data-plyr-embed-id="ERNXpfjRs8I"></div>
                    </div>
                    <div class="hot-service">
                        <h3 class="hs-heading">@Localizer["service"]</h3>
                        <div class="hs-content">
                            <ul>
                                <li style="padding: 4px 0"><a href="dich-vu-@(ServiceType.ArchitecturalDesign + ".html")"><i class="icon-right-dir"></i>@Localizer["architectural"]</a></li>
                                <li style="padding: 4px 0"><a href="dich-vu-@(ServiceType.InteriorDesign + ".html" )"><i class="icon-right-dir"></i>@Localizer["interiordesign"]</a></li>
                                <li style="padding: 4px 0"><a href="dich-vu-@(ServiceType.InteriorConstruction + ".html")"><i class="icon-right-dir"></i>@Localizer["interiorconstruction"]</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="hot-service">
                        <h3 class="hs-heading">@Localizer["project"]</h3>
                        <div class="hs-content">
                            <ul>
                                <li style="padding: 4px 0"><a href="du-an.0.html"><i class="icon-right-dir"></i>QHOME CLASSIC</a></li>
                                <li style="padding: 4px 0"><a href="du-an.1.html"><i class="icon-right-dir"></i>QHOME MODERN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END -->

@section Scripts
{
    <script>
        const player = new Plyr('#player', {
            autoplay: false,
        });
    </script>
}