@model ServiceDto
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Model.Name;
    ViewData["Image"] = Model.Thumbnail;
    ViewData["Description"] = Model.Name;
}

<div id="carousel-id" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
        <li data-target="#carousel-id" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        @for (var i = 0; i < Model.SlideImages.Count; i++)
        {
            if (i == 0)
            {
                <div class="item active">
                    <div  style=""></div>
                    <img alt="First slide" style="width: 1903px;height: 638px;" src="@Model.SlideImages[i]">
                </div>
            }
            else
            {
                <div class="item">
                    <div  style=""></div>
                    <img alt="First slide" style="width: 1903px;height: 638px;" src="@Model.SlideImages[i]">
                </div>
            }
        }
    </div>
    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="icon-left-control icon-controls"></span></a>
    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="icon-right-control icon-controls"></span></a>
</div>
<div id="service" class="wow fadeInUp container mg-top-50" data-wow-duration="1s">
    @foreach (var item in Model.Block)
    {
        if (item.BlockType == BlockType.Text)
        {
            <div class="container">
                <div class="sv-intro mg-top-50">
                    @Html.Raw(item.Text)
                </div>
            </div>
        }
        else if (item.BlockType == BlockType.Image)
        {
            <div class="img-service mg-top-50">
                <img src="@item.Image" class="img-responsive" alt="">
            </div>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="service-item mg-top-50 @(item.ImagePosition == ImagePosition.Right ? "service-right-img" : "")">
                            <div class="sv-image">
                                <div class="wrap-img">
                                    <div class="main-img">
                                        <img src="@item.Image" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="sv-text">
                                <div class="wrap-content">
                                    <h3 class="title-head">
                                        @item.Title
                                    </h3>
                                    <div class="sv-content">
                                        @Html.Raw(item.Text)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
</div>
<!-- END -->
<div id="product-slide" class="wow fadeInUp mg-top-40" data-wow-duration="1s">
    <div class="container">
        <div class="head">
            <h2 class="title-head text-center mg-bottom-40">Dự án nổi bật</h2>
        </div>
        <div id="myproduct-slider">
            @foreach (var item in Model.Projects)
            {
                <div class="col-xs-12">
                    <div class="product-item">
                        <div class="pi-image">
                            <a href="#" title="">
                                <img src="@item.Thumbnail" class="img-responsive" style="width: 350px; height:220px">
                            </a>
                        </div>
                        <div class="pp-hover">
                            <div class="ph-content">
                                <h3 class="ph-heading"><a href="@item.LinkDetail">@item.Name</a></h3>
                                <div class="ph-desc">
                                    <div class="p-desc">
                                        <p class="">@item.Description</p>
                                    </div>
                                    <p><a class="ac-link" href="@item.LinkDetail">Xem thêm</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- END -->

@section Scripts
{
    <script>
        const player = new Plyr('#player', {
            autoplay: false,
        });
        $("#myproduct-slider").owlCarousel({
            autoPlay: false,
            autoplayTimeout: 5000,
            slideSpeed: 500,
            items: 3,
            navigation: true,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 2],
            itemsMobile: [425, 1],
            navigationText: ["", ""]
        });
    </script>
}
