@inject IViewLocalizer Localizer
@using QHomeGroup.Utilities.Helpers
@model HomeConfigDto
@{
    ViewData["Title"] = Localizer["qhomejsc"];
}

<!--Slide-->
@await Component.InvokeAsync("Slide")
<!--End Slide-->

<div id="project" class="wow fadeInUp mg-top-70" data-wow-duration="1s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-video">
                <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="@ClipboardFusionHelper.GetEmbededId(Model.VideoUrl)"></div>
            </div>
            <div class="col-md-6">
                <div class="pr-box-content">
                    <h2 class="title-head">Dự án nổi bật</h2>
                    <div class="pr-content">
                        @Html.Raw(Model.Content)
                    </div>
                    <div class="mg-top-10">
                        <a class="more" href="@Model.Link">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END -->
<div id="product" class="wow fadeInUp mg-top-70" data-wow-duration="1s">
    <div class="product-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <h3 class="title-head-2 no-mg">
                        CÁC DÒNG <br>
                        SẢN PHẨM\DỊCH VỤ
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="pd-content">
                        <div class="pd-desc">
                            @Html.Raw(Model.ProductContent)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-ct">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="pd-item">
                        <div class="pd-image">
                            <a href="/du-an.0.html"><img src="@Model.ImageClassic" class="img-responsive" alt="" style="height: 450px"></a>
                        </div>
                        <div class="pd-item-content">
                            <h2 class="title-head">
                                Q.HOME CLASSIC
                            </h2>
                            <div class="pd-item-desc">
                                @Html.Raw(Model.ContentClassic)
                                <p><a class="btn btn-more" href="/du-an.0.html">Xem thêm</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="pd-item">
                        <div class="pd-image">
                            <a href="/du-an.1.html"><img src="@Model.ImageModern" class="img-responsive" alt="" style="height: 450px"></a>
                        </div>
                        <div class="pd-item-content">
                            <h2 class="title-head">
                                Q.HOME MODERN
                            </h2>
                            <div class="pd-item-desc">
                                @Html.Raw(Model.ContentModern)
                                <p><a class="btn btn-more" href="/du-an.1.html">Xem thêm</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END -->

@section Scripts
{
    <script>
        const player = new Plyr('#player', {
            autoplay: false,
        });
    </script>
}