@inject IViewLocalizer Localizer
@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var rqf = Context.Features.Get<IRequestCultureFeature>();
    var culture = rqf.RequestCulture.Culture;
}
<ul class="nav-top">
    <li><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
    <li><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-language"></i>@(culture.ToString() == "vi" ? "Tiếng Việt" : "English") <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a asp-action="SetLanguage" asp-controller="Home" asp-route-returnUrl="@returnUrl" asp-route-culture="vi"><i class="icon-language"></i>Tiếng Việt</a></li>
            <li><a asp-action="SetLanguage" asp-controller="Home" asp-route-returnUrl="@returnUrl" asp-route-culture="en"><i class="icon-language"></i>English</a></li>
        </ul>
    </li>



</ul>
<div class="top-bar group-tbstyle">
    <a href="javascript:void(0)" id="showmenu" class="btn-menu gr-action">
        <i class="icon-menu"></i>
    </a>
    <a href="" class="logo-head gr-content text-center">
        <img src="images/logo.svg" alt="">
    </a>
    <div class="cl"></div>
</div>

<div class="head-menu">
    <div class="top-head-menu pull-left w--100">

        <div class="pd-5">
            <a class="logo-head text-center" href="/">
                <img src="images/logo.svg" alt="">
            </a>
        </div>
    </div>
    <ul class="bl-category pull-left w--100">
        <li><a class="active" href="/">Trang chủ</a></li>
        <li class="dropdown">
            <a id="dropdownmenu" href="javascript:void(0)">@Localizer["introduce"] <i class="pull-right icon-down-open-1"></i></a>
            <ul class="dropdown-menu-mobi">
                <li><a href="loi-ngo.html">@Localizer["preface"]</a></li>
                <li><a href="tam-nhin-su-menh.html">@Localizer["vision"]</a></li>
                <li><a href="gia-tri-cot-loi.html">@Localizer["corevalue"]</a></li>
                <li><a href="lich-su-hinh-thanh.html">@Localizer["formation"]</a></li>
                <li><a href="chat-luong-dich-vu.html">@Localizer["servicequality"]</a></li>
                <li><a href="nha-may-cong-nghe.html">@Localizer["factory"]</a></li>
                <li><a href="nguon-nhan-luc.html">@Localizer["human"]</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a id="dropdownmenu" href="javascript:void(0)">@Localizer["service"] <i class="pull-right icon-down-open-1"></i></a>
            <ul class="dropdown-menu-mobi">
                <li><a href="dich-vu-@(ServiceType.ArchitecturalDesign + ".html")"><i class="pull-left pd-right-10 icon-minus-1"></i>@Localizer["architectural"]</a></li>
                <li><a href="dich-vu-@(ServiceType.InteriorDesign + ".html" )"><i class="pull-left pd-right-10 icon-minus-1"></i>@Localizer["interiordesign"]</a></li>
                <li><a href="dich-vu-@(ServiceType.InteriorConstruction + ".html")"><i class="pull-left pd-right-10 icon-minus-1"></i>@Localizer["interiorconstruction"]</a></li>
            </ul>
        </li>
        <li><a href="du-an.3.html">@Localizer["project"]</a></li>
        <li><a href="tin-tuc.html">@Localizer["news"]</a></li>
        <li><a class="" href="lien-he.html">@Localizer["contact"]</a></li>

    </ul>
</div>
<div class="opacity pull-left w--100 hidden"></div>

