<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QHome Group</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" content="@ViewData["Image"]" />
    <meta property="fb:app_id" content="209862963162489" />
    <link href="~/images/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/basic.css">
    <link rel="stylesheet" href="~/css/fontello.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link href="~/css/ckeditor.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.1/plyr.css" />
</head>
<body>
    @{
        var rqf = Context.Features.Get<IRequestCultureFeature>();
        var culture = rqf.RequestCulture.Culture;
    }
    <div id="fb-root"></div>
    @if (culture.ToString() == "vi")
    {
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=584284335519173&autoLogAppEvents=1"></script>
    }
    else
    {
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=584284335519173&autoLogAppEvents=1"></script>
    }
    <!--Header-->
    <div id="header-des">
        <partial name="_Header" />
    </div>
    <div id="header-mobile" class="wow fadeInUp" data-wow-duration="1s">
        <partial name="_HeaderMobile" />
    </div>
    <!--End Header-->
    @RenderBody()
    <div id="social" class="mg-top-50" data-wow-duration="1s">
        <partial name="_Social" />
    </div>
    <!--Footer-->
    @await Component.InvokeAsync("Footer")
    <!--End Footer-->
    <a href="#" class="go-top"><i class="icon-up-open"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha256-rsPUGdUPBXgalvIj4YKJrrUlmLXbOb6Cp7cdxn1qeUc=" crossorigin="anonymous"></script>
    <script src="https://cdn.plyr.io/3.6.1/plyr.polyfilled.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
