@inject IViewLocalizer Localizer
@model CompanyIntroDto
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <h3 class="ft-heading">@Model.Name</h3>
                <div class="ft-content">
                    <p>
                        Office & Showroom: <br>
                        @Model.ShowroomAddress
                    </p>
                    <div class="line mg-bottom-15"></div>
                    <p>
                        Thời gian mở cửa: 8h30 - 18h00 kể cả thứ 7 và Chủ Nhật. <br>
                        Có vị trí đỗ xe ô tô <br>
                        @{
                            string direction = "https://www.google.com/maps/dir//Khu+%C4%91%C3%B4+th%E1%BB%8B+h%E1%BB%93+X%C6%B0%C6%A1ng+R%E1%BB%93ng,+Phan+%C4%90%C3%ACnh+Ph%C3%B9ng,+Tp.+Th%C3%A1i+Nguy%C3%AAn,+Th%C3%A1i+Nguy%C3%AAn,+Vi%E1%BB%87t+Nam/@21.5820243,105.838294,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x313526c362099ea3:0xc3aed93d6ae52be3!2m2!1d105.842974!2d21.5812501?hl=vi-VN";
                        }
                        <a href="@direction" target="_blank"><i class="icon-right-dir"></i>Chỉ dẫn đường đi</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="menu-ft pd-left-20">
                    <h3 class="ft-heading">@Localizer["contactus"]</h3>
                    <div class="ft-content">
                        <p class="contact-it"><i class="icon-ft icon-phone"></i>@Model.Tel</p>
                        <p class="contact-it"><i class="icon-ft icon-mobile"></i>@Model.PhoneNumber</p>
                        <p class="contact-it">
                            <i class="icon-ft icon-mail"></i>@Model.Email
                        </p>
                        <p class="contact-it"><i class="icon-ft icon-web"></i><a href="https://qhomegroup.com">@Model.Website</a></p>
                    </div>
                </div>
                <div class="follow mg-top-30 pd-left-20">
                    <h3 class="ft-heading">@Localizer["followus"]</h3>
                    <div class="ft-content pull-left form-email mg-top-10">
                        <input type="email" name="email" id="input" class="form-control" placeholder="EMAIL">
                        <div class="send">
                            <i class="icon-paper-plane-1"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="menu-ft pd-left-20">
                    <h3 class="ft-heading">@Localizer["usefullink"]</h3>
                    <div class="ft-content">
                        <ul>
                            <li>
                                <a href="gioi-thieu.html">@Localizer["introduce"]</a>
                            </li>
                            <li>
                                <a href="#">@Localizer["service"]</a>
                            </li>
                            <li>
                                <a href="du-an-3.html">@Localizer["project"]</a>
                            </li>
                            <li>
                                <a href="tin-tuc.html">@Localizer["news"]</a>
                            </li>
                            <li>
                                <a href="lien-he.html">@Localizer["contact"] </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="footer-end pull-left w--100">
    <div class="container">
        <p class="no-pd no-mg">© 2020 Copyright of QHome Group | Design by QHome Group </p>
    </div>
</div>