@model ProjectDto
@inject IViewLocalizer Localizer
@using QHomeGroup.Utilities.Helpers

@{
    ViewData["Title"] = Model.Name;
    ViewData["Image"] = Model.Thumbnail;
    ViewData["Description"] = Model.Description;
}

<div id="breacrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="/du-an.3.html">Dự án</a>
            </li>
            <li>
                <a href="/du-an.@(Model.OptionProject == QHomeGroup.Data.Enum.OptionProject.Classic ? 0 : 1 ).html">@(Model.OptionProject == QHomeGroup.Data.Enum.OptionProject.Classic ? "q.home classic" : "q.home modern")</a>
            </li>
            <li class="active">@Model.Name</li>
        </ol>
    </div>
</div>
<!-- END -->
<div id="carousel-id" class="carousel slide mg-top-40" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
        <li data-target="#carousel-id" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        @if (Model.SlideImages.Count > 0)
        {
            @for (var i = 0; i < Model.SlideImages.Count; i++)
            {

                if (i == 0)
                {
                    <div class="item active">
                        @*<div class="overlay-bg" style=""></div>*@
                        <img alt="First slide" style="width: 1140px; height: 855px; margin: auto;" src="@Model.SlideImages[i]">

                    </div>
                }
                else
                {
                    <div class="item">
                        @*<div class="overlay-bg" style=""></div>*@
                        <img alt="First slide" style="width: 1140px; height: 855px; margin: auto;" src="@Model.SlideImages[i]">
                    </div>
                }
            }
        }
        @if (Model.SlideVideos.Count > 0)
        {
            @for (var i = 0; i < Model.SlideVideos.Count; i++)
            {

                if (i == 0)
                {
                    <div class="item active">
                        <div class="js-player" data-plyr-provider="youtube" data-plyr-embed-id="@ClipboardFusionHelper.GetEmbededId(@Model.SlideVideos[i])"></div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="js-player" data-plyr-provider="youtube" data-plyr-embed-id="@ClipboardFusionHelper.GetEmbededId(@Model.SlideVideos[i])"></div>
                    </div>
                }

            }
        }
    </div>
    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="icon-left-control icon-controls"></span></a>
    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="icon-right-control icon-controls"></span></a>
</div>

<!-- END -->

<div id="news-page-detail" class="wow fadeInUp mg-top-30" data-wow-duration="1s">
    <div class="container">
        <div class="post-detail">
            <div class="post-content">
                <div class="op-top mg-bottom-40">
                    <ul class="nav-date">
                        <li>@Model.DateCreated.ToString("dd MMMM yyyy")</li>
                        <li><i class="icon-user"></i>by admin</li>
                    </ul>
                </div>
                <h2 class="title-head">@Model.Name</h2>
                <div class="sapo-news mg-top-10">
                    @foreach (var item in Model.Block)
                    {
                        if (item.BlockType == BlockType.Text)
                        {
                            <p class="mg-bottom-20">
                                @Html.Raw(item.Text)
                            </p>
                        }
                        else if (item.BlockType == BlockType.ImageAndText)
                        {
                            <div class="row mg-bottom-20">
                                @foreach (var itemj in item.ImageContents)
                                {
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <img src="@itemj" class="img-responsive" alt="">
                                    </div>
                                }
                            </div>
                            <p class="mg-bottom-20">
                                @Html.Raw(item.Text)
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="post-comment">
            <div class="fb-comments" data-href="@Context.Request.Host@Context.Request.Path" width="100%" data-numposts="5"></div>
        </div>
    </div>
</div>
<!-- END -->
<div id="product-slide" class="wow fadeInUp mg-top-40" data-wow-duration="1s">
    <div class="container">
        <div class="head">
            <h2 class="title-head text-center mg-bottom-40">@Localizer["relatedProject"]</h2>
        </div>
        <div id="myproduct-slider">
            @foreach (var item in @Model.RelatedProjects)
            {
                <div class="col-xs-12">
                    <div class="product-item">
                        <div class="pi-image">
                            <a href="@item.LinkDetail" title="">
                                <img src="@item.Thumbnail" class="img-responsive" style="width: 350px; height: 220px">
                            </a>
                        </div>
                        <div class="pp-hover">
                            <div class="ph-content">
                                <h3 class="ph-heading"><a href="@item.LinkDetail">@item.Name</a></h3>
                                <div class="ph-desc">
                                    <div class="p-desc">
                                        <p class="">@item.Description</p>
                                    </div>
                                    <p><a class="ac-link" href="@item.LinkDetail">Xem thêm</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- END -->
@section Scripts
{
    <script>
        $("#myproduct-slider").owlCarousel({
            autoPlay: false,
            autoplayTimeout: 5000,
            slideSpeed: 500,
            items: 3,
            navigation: true,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 2],
            itemsMobile: [425, 1],
            navigationText: ["", ""]
        });
    </script>
}

