@using Microsoft.AspNetCore.Http
@model QHomeGroup.Utilities.Dtos.PagedResult<ProjectDto>
@inject IViewLocalizer Localizer
@using QHomeGroup.Application.Common.Slides.ViewModels
@using QHomeGroup.Utilities.Helpers
@{
    ViewData["Title"] = Localizer["project"];
    IList<SlideViewModel> banner = (IList<SlideViewModel>)ViewData["Banner"];
    var path = Context.Request.Path;
}


<div id="carousel-id" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
        <li data-target="#carousel-id" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        @for (var i = 0; i < banner.Count; i++)
        {
            if (banner[i].SlideOption == SlideOption.Image)
            {
                if (i == 0)
                {
                    <div class="item active">
                        <div class="overlay-bg" style="background-color : @(String.IsNullOrEmpty(banner[i].Name) && String.IsNullOrEmpty(banner[i].Description) ? "transparent" : "rgba(43,41,37,0.72)")"></div>
                        <img alt="First slide" style="width: 1903px;height: 638px;" src="@banner[i].Link">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 style="cursor: pointer" onclick="window.open('https://qhomegroup.com/gioi-thieu.html')">@banner[i].Name</h1>
                                <p>@banner[i].Description</p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="overlay-bg" style="background-color : @(String.IsNullOrEmpty(banner[i].Name) && String.IsNullOrEmpty(banner[i].Description) ? "transparent" : "rgba(43,41,37,0.72)")></div>
                        <img alt="First slide" style="width: 1903px;height: 638px;" src="@banner[i].Link">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 style="cursor: pointer" onclick="window.open('https://qhomegroup.com/gioi-thieu.html')">@banner[i].Name</h1>
                                <p>@banner[i].Description</p>
                            </div>
                        </div>
                    </div>
                }
            }
            if (banner[i].SlideOption == SlideOption.Video)
            {
                if (i == 0)
                {
                    <div class="item active">
                        @{ var url = "https://www.youtube.com/embed/" + ClipboardFusionHelper.GetEmbededId(banner[i].Link) + "?autoplay=1"; }
                        <iframe width="100%" height="638"  src="@url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
                else
                {
                    <div class="item">
                        @{ var url = "https://www.youtube.com/embed/" + ClipboardFusionHelper.GetEmbededId(banner[i].Link) + "?autoplay=1"; }
                        <iframe width="100%" height="638"  src="@url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
            }
        }
    </div>
    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="icon-left-control icon-controls"></span></a>
    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="icon-right-control icon-controls"></span></a>
</div>
<div id="breacrumb">
    <div class="container">
        <ol class="breadcrumb">
            @if (path.Equals("/du-an.3.html"))
            {
                <li class="active-project">
                    <a href="/du-an.3.html">All</a>
                </li>
            }
            else
            {
                <li>
                    <a href="/du-an.3.html">All</a>
                </li>
            }

            @if (path.Equals("/du-an.0.html"))
            {
                <li class="active-project">
                    <a href="/du-an.0.html">q.home classic</a>
                </li>
            }
            else
            {
                <li>
                    <a href="/du-an.0.html">q.home classic</a>
                </li>
            }
            @if (path.Equals("/du-an.1.html"))
            {
                <li class="active-project">
                    <a href="/du-an.1.html">q.home modern</a>
                </li>
            }
            else
            {
                <li>
                    <a href="/du-an.1.html">q.home modern</a>
                </li>
            }

        </ol>
    </div>
</div>
<!-- END -->
<div id="project-page" class="wow fadeInUp" data-wow-duration="1s">
    <div class="container">
        <div class="row">
            <div class="pp-list">
                @foreach (var item in Model.Results)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="pp-item">
                            <div class="pp-content">
                                <img src="@item.Thumbnail" class="img-responsive" alt="" style="height: 220px; width: 350px">
                            </div>
                            <div class="pp-hover">
                                <div class="ph-content">
                                    <h3 class="ph-heading"><a href="@item.LinkDetail">@item.Name</a></h3>
                                    <div class="ph-desc">
                                        <div class="p-desc">
                                            <p class="">@item.Description</p>
                                        </div>
                                        <p><a class="ac-link" href="@item.LinkDetail">Xem thêm</a></p>
                                    </div>
                                </div>
                                <div class="pp-button">
                                    <a href="@item.LinkDetail"><i class="icon-ab-more"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                @(await Component.InvokeAsync("Pager", Model))
            </div>
        </div>
    </div>
</div>
<!-- END -->

@section Scripts
{
    <script>
        const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p, {
            controls: ['play-large', 'play', 'progress', 'current-time']
        }));
    </script>
}