@model ContactViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["contact"];
    CompanyIntroDto company = (CompanyIntroDto)ViewData["company"];
}

<div id="contact" class="wow fadeInUp" data-wow-duration="1s">
    <div class="contact">
        <div class="contact-ct mg-top-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="left-contact">
                            <h2 class="title-head">@company.Name</h2>
                            <p class="no-mg">
                                <span class="ct-bold">Địa chỉ văn phòng:</span>
                            </p>
                            <p class="ct-desc">
                                @company.OfficeAddress
                            </p>
                            <p class="no-mg">
                                <span class="ct-bold"> Showroom:</span>
                            </p>
                            <p class="ct-desc">
                                @company.ShowroomAddress
                            </p>
                            @foreach (var item in company.FactoryAddress)
                            {
                                <p class="no-mg">
                                    <span class="ct-bold">@item.Key:</span>
                                </p>
                                <p class="ct-desc">
                                    @item.Value
                                </p>
                            }
                            <p class="no-mg">
                                <span class="ct-bold"> Thời gian mở cửa:</span>
                            </p>
                            <p class="ct-desc">
                                8h30 - 18h00 kể cả thứ 7 và Chủ Nhật.
                            </p>
                            <div class="ft-content">
                                <p class="contact-it"><i class="icon-ft icon-phone"></i>@company.Tel </p>
                                <p class="contact-it"><i class="icon-ft icon-mobile"></i>@company.PhoneNumber</p>
                                <p class="contact-it"><i class="icon-ft icon-mail"></i>@company.Email</p>
                                <p class="contact-it"><i class="icon-ft icon-web"></i><a href="https://qhomegroup.com">@company.Website</a></p>
                            </div>
                            <div class="ct-image">
                                <img src="images/contact-img.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @if (ViewData["Success"] != null)
                        {
                            <div class="text-success">@ViewData["Success"]</div>
                        }
                        @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span>* HỌ TÊN</span>
                                    <input asp-for="Name" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span>* SỐ ĐIỆN THOẠI</span>
                                    <input asp-for="Phone" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span>* ĐỊA CHỈ EMAIL</span>
                                    <input asp-for="Email" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span>* ĐỊA CHỈ CĂN HỘ</span>
                                    <input asp-for="Address" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <span>* NỘI DUNG</span>
                                    <textarea asp-for="Content" class="form-control" cols="20" rows="4"></textarea>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mg-auto">
                                <span>NHẬN NGAY NHỮNG ƯU ĐÃI ĐẶC BIỆT, BỘ SƯU TẬP SẢN PHẨM MỚI NHẤT TỪ Q HOME</span>
                                <div class="mg-top-20">
                                    <button type="submit">Gửi đi</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7420.200256436911!2d105.83829397420439!3d21.582014342804868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313526c362099ea3%3A0xc3aed93d6ae52be3!2zS2h1IMSRw7QgdGjhu4sgaOG7kyBYxrDGoW5nIFLhu5NuZywgUGhhbiDEkMOsbmggUGjDuW5nLCBUcC4gVGjDoWkgTmd1ecOqbiwgVGjDoWkgTmd1ecOqbiwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1586886149205!5m2!1svi!2s" width="100%" height="650" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
